@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slidein{
  0%{     transform: translateY(-50px);   height: 0px; }
  100%{transform: translateY(0px); box-shadow: 5px 5px 30px black; height: auto; }
}
@keyframes slide{
  0%{    height: 0px;  transform: translate(48%,-5%); }
  100%{ box-shadow: 5px 5px 30px black; height: auto;  }
}
nav ul li div div:not(.products)  {
  animation:  .3s slidein ease-out;
  box-shadow: 2px 2px 10px black;
  overflow: hidden;
}
nav ul li div .products {
  animation:  .3s slide ease-out;
  box-shadow: 2px 2px 10px black;
  transform: translate(48%,2%);
}

.ReactCollapse--collapse {
    transition: height 500ms;
}

.container {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel {
    overflow: hidden;
    /* max-width: 900px; */
    position: relative;
  }
  
  .carousel-inner {
    white-space: nowrap;
    transition: ease 1s;
  }
  
  .carousel-item {
    display: inline-block;
    width: 100%;
  }
  
  .carousel-control {
    border: none;
    display: inline-block;
    position: absolute;
    font-size: 3rem;
    margin: 5px;
    top: calc(50% - 25px);
    color: #f3f3f3;
    cursor: pointer;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
  
  .carousel-indicators {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1.5em;
    z-index: 2;
  }
  .carousel-indicator-item {
    width: 15px;
    height: 15px;
    border: none;
    background: #fff;
    opacity: 0.5;
    margin: 0.2em;
    border-radius: 50%;
    cursor: pointer;
  }
  .active {
    opacity: 1;
  }
  
  